# 04 DESCRIPTIVE STATISTICS
- Author: Adrian Chirinos
- Date: 11/08/2025
- Goal: Learn basic EDA (Exploratory Data Analysis) using descriptive statistics.

In [14]:
# Step 0: Load libraries and custom modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Credits:
- Horst AM, Hill AP, Gorman KB (2020). palmerpenguins: Palmer,
- Archipelago (Antarctica) penguin data. R package version 0.1.0.,
- https://allisonhorst.github.io/palmerpenguins/

<img src='https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png' width=400/>
<img src="https://allisonhorst.github.io/palmerpenguins/reference/figures/culmen_depth.png" width=400/>

In [15]:
# Step 1: Load data
url = 'https://gist.githubusercontent.com/slopp/'
url += 'ce3b90b9168f2f921784de84fa445651/raw/'
url += '4ecf3041f0ed4913e7c230758733948bc561f434/penguins.csv'

df_raw = pd.read_csv(url)
df_raw.sample(10)

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
72,73,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
13,14,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
193,194,Gentoo,Biscoe,49.6,16.0,225.0,5700.0,male,2008
314,315,Chinstrap,Dream,46.9,16.6,192.0,2700.0,female,2008
301,302,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
287,288,Chinstrap,Dream,51.7,20.3,194.0,3775.0,male,2007
121,122,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
166,167,Gentoo,Biscoe,45.8,14.6,210.0,4200.0,female,2007

In [16]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [ ]:
# Step 2: Data preprocessing
df_baking = df_raw.copy()
df_baking = df_baking.drop(columns=['rowid'])
df_baking = df_baking.dropna()
df_baking['species'] = df_baking['species'].astype('category')
df_baking['island'] = df_baking['island'].astype('category')
df_baking['sex'] = df_baking['sex'].astype('category')

df = df_baking.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    category
 1   island             333 non-null    category
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    category
 7   year               333 non-null    int64
dtypes: category(3), float64(4), int64(1)
memory usage: 17.0 KB

In [1]:
# Step 3: EDA (Exploratory Data Analysis)
df["bill_length_mm"].median()

NameError: name 'df' is not defined